.titleContainer
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: White;
    background: black;
}

#bookList
{
    list-style-type: none;
}

#bookList li
{
    text-align: center;
    size: 15px;
    color: white;
    padding: 20px;
    background: grey;
    margin-bottom: 5px;
    transition: background-color;
    border-radius: 5px;
}

#bookList li:hover {
    background-color: rgb(37, 118, 194);
    border: 1px solid blue;
    box-shadow: 1px 2px #b4b2b2;
}